body{
    background-color: #eee;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.input-error {
    border: 2px solid #B53471;
}

#lg{
    margin-left: 5px;
    margin-bottom: 1px;
}